/*General*/
body {
    background-size: cover;
    background: url('../../images/background.jpg') top left repeat;

}

.btn {
    background: rgba(255, 0, 0, 0.3);
    color: white;
}

.btn:hover {
    background: rgba(255, 0, 0, 0.6);

}

/*DropDown buttons*/

.dropdown-item:hover{
    background-color: rgba(255, 0, 0, 0.6);
    color: white;
}

/*Social buttons*/
.facebookbutton {
    position: fixed;
    font-size: 40px;
    bottom: 10px;
    left: 10px;
    color: #3e5b99;
    cursor: pointer;
}

.facebookbutton:hover {
    color: #436799;
}

.twitterbutton {

    position: fixed;
    font-size: 40px;
    bottom: 10px;
    left: 55px;
    color: #1da1f2;
    cursor: pointer;
}

.twitterbutton:hover {
    color: #23aef2;
}

.steambutton {
    position: fixed;
    font-size: 40px;
    bottom: 10px;
    left: 100px;
    color: #1c4d6d;
    cursor: pointer;
}

.steambutton:hover {
    color: #1c6088;
}

/*DropDown bar*/

.dropdown-item{
    width: 93px;
}

/*Navigation  bar*/
.navbar-light, .bg-light {
    background: transparent !important;
}

.nav-item {
    background-color: rgba(255, 0, 0, 0.3);
    width: 93px;
    height: 40px;
    text-align: center;

}

.nav-item:hover {
    background: rgba(255, 0, 0, 0.6);
}

.nav-link {
    color: white !important;
}

.nav-link:hover {
    color: white !important;
}

.navbar-toggler {
    background-color: rgba(255, 0, 0, 0.3);
    width: 50px;
    height: 50px;
}

.navbar-toggler:hover {
    background: rgba(255, 0, 0, 0.6);
}

.fa-angle-down {
    font-size: 1.5rem;
    color: white;
}

.navbar {
    height: 60px;
}

@media only screen and (max-width: 600px) {
    .nav-item {
        width: 100%;
    }

    .search {
        width: 75%;
    }

    .search-btn {
        width: 25%;
    }
}