body {
    /*background-image: url('../../images/background.jpg');*/
    background-size: cover;
    background-repeat: no-repeat;

}

.btn {
    background: rgba(255, 0, 0, 0.3);
    color: white;

}

.btn:hover {
    background: rgba(255, 0, 0, 0.6);

}

#dropdownMenuButton {
    margin-top: 0;

}

.buttonAggressive {
    margin-right: 450px;
}

.searchStyle {
    background: #fff;
}

.searchStyle:hover::placeholder {
    color: #fff;
}

.search {
    margin-right: 2px;
}

.facebookbutton {
    position: fixed;
    font-size: 40px;
    bottom: 10px;
    left: 10px;
    color: white;
    cursor: pointer;
}

.facebookbutton:hover {
    color: #3e5b99;

}

.twitterbutton {

    position: fixed;
    font-size: 40px;
    bottom: 10px;
    left: 55px;
    color: white;
    cursor: pointer;
}

.twitterbutton:hover {
    color: #1da1f2;
}

.steambutton {
    position: fixed;
    font-size: 40px;
    bottom: 10px;
    left: 100px;
    color: white;
    cursor: pointer;
}

.steambutton:hover {
    color: #1c4d6d;
}

#my-navbar {
    justify-content: flex-start;
    width: 100%;
}

.form-inline {
    flex-flow: row;
}

.navbar-light, .bg-light {
    background: transparent !important;
}

.nav-item {
    background-color: rgba(255, 0, 0, 0.3);
    width: 93px;
    height: 40px;
    text-align: center;
}

.nav-item:hover {
    background: rgba(255, 0, 0, 0.6);
}

.nav-link {
    color: white !important;
}

.nav-link:hover {
    color: white !important;
}

.navbar-toggler {
    background-color: rgba(255, 0, 0, 0.3);
    width: 50px;
    height: 50px;
}

.navbar-toggler:hover {
    background: rgba(255, 0, 0, 0.6);
}

.fa-angle-down {
    font-size: 1.5rem;
    color: white;
}

.navbar {
    height: 60px;
}

.image {
    display: flex;
}